#body {
    padding: 0;
    margin: 0;
}

.navColumns .col {
    height: 100%;
}

.title {
    max-height: 100%; /* Update to max-height: 100% */
    margin: 0;
    display: flex;
    align-items: center;
    overflow: hidden;
    justify-content: center;
}

.title img {
    height: auto;
    width: auto;
    max-width: 100%;
    max-height: 100%; /* prevent the image from exceeding the container's height */
    object-fit: contain; /* maintain the aspect ratio and fit the entire image within the container */
    display: block;
}

#navbar {
    background-color: black;
    opacity: 0.9;
    min-height: 3rem;
}

.navColumns {
    width: 100%;
}

.social-menu-container {
    padding: 0;
    margin: 0;
}

.social-menu ul li {
    list-style: none;
    font-size: 30px;
    margin: 0 15px 0 0;
    padding: 0;
}

.social-menu ul li:hover {
    opacity: 0.9;
    color: #0a0a0a;
    border: none;
}

.social-menu ul li:active {
    border: none;
    background: none;



}

#splash {
    margin: 0;
    padding: 0;
    background: url("../img/DitM (COMPR).jpg") no-repeat center center;
    background-size: cover;
    height: 100vh;
    object-fit: cover;

}

/*#header img {*/
/*    max-width: 100%;*/
/*    margin: 0;*/
/*    padding: 0;*/
/*}*/

/*#header h1 {*/
/*    font-weight: bold;*/
/*}*/

/*#headerImage {*/
/*    object-fit: cover;*/
/*    width: 100vw;*/
/*}*/

#showcase .vidItem {
    margin-top: 3rem;
    text-align: center;
}

iframe {
    aspect-ratio: 16 / 9;
    width: 100%;
}

@media (min-width: 1000px) {
    iframe {
        max-width: 80%;
    }
}

.vidDesc {
    background-color: rgb(0, 0, 0, 0.9);
    color: white;
    max-width: 80%;
}

#events {
    background-color: rgb(0, 0, 0, 0.9);
    color: white;
    margin-top: 3rem;
    padding: 3rem 0;
}

#events col {
    display: flex;
}

#events .row {
    margin: 1rem 0;
}

.eventImage,
.eventDesc {
    flex-shrink: 1;
}

#email-bio {
    margin-top: 3rem
}

.form-item {
    margin: 1rem;
}

#submitButton {
    border: none;

}

#contactForm,
#biography {
    max-width: 60%;
}

footer {
    color: rgb(100, 100, 100);
    background-color: rgb(0, 0, 0, 0.9);
    margin: 0;
    text-align: center;
}
